.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.input {
  display: none;
}

.icon {
  display: flex;
}
