.wrapper {
  display: flex;
  gap: var(--spacing-sm);
  padding: 14px;
  max-width: 100%;
  width: 527px;
  background-color: var(--color-background);
  justify-content: start;
  align-items: end;
  border-radius: var(--border-radius-lg);
  color: var(--color-caption);
}

.input {
  all: unset;
  border: none;
  font-family: var(--font-family-roboto);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-small);
}

.icon {
  width: 24px;
  height: 24px;
}
