.selectContainer {
  position: relative;
  width: 100%;
}

/* Класс для open состояния */
.open {
  position: relative;
}

.selectField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  background-color: var(--color-card);
  border: 1px solid var(--color-caption);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

/* Убираем outline фокуса */
.selectField:focus,
.selectField:focus-visible {
  outline: none;
}

/* Стиль для disabled состояния всего компонента */
.selectContainer.disabled .selectField,
.selectContainer.disabled .selectField * {
  pointer-events: none;
}

/* Стиль для error состояния */
.selectContainer.error .selectField {
  border-color: var(--color-error);
}

.selectContainer.error .selectField:focus {
  outline-color: var(--color-error);
}

.selectFieldDisabled {
  cursor: not-allowed;
  background-color: var(--color-dusabled);
}

.selectFieldError {
  border-color: var(--color-error);
}

.selectValue {
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--color-caption);
  flex: 1;
  text-align: left;
}

.selectValueSelected {
  color: var(--color-caption);
}

.selectValueDisabled {
  color: var(--color-caption-disabled);
}

.arrowWrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  width: 100%;
  background-color: var(--color-card);
  border: 1px solid var(--color-caption);
  border-top: none;
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
  box-shadow: var(--box-shadow-card);
  z-index: 2;
  height: 120px;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 18px 0 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.placeholder {
  color: var(--color-caption);
}

.option {
  padding: 4px 20px;
  width: 100%;
  height: 32px;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--color-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
}

.option:hover {
  background-color: var(--color-dusabled);
}

/* Выбранная опция в списке — зеленый цвет текста */
.optionSelected {
  background-color: var(--color-card);
  color: var(--color-button-pressed);
}
