.header {
  height: 100%;
  background-color: var(--color-background);
}

.container {
  min-height: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 36px 36px 20px;
  gap: 32px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.trigger {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  font-family: var(--font-family-roboto);
  color: var(--color-text);
  outline: none;
  border: none;
  cursor: pointer;
}

.trigger > button {
  max-width: 16px;
}

.link {
  display: flex;
  gap: 4px;
  font-family: var(--font-family-roboto);
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-small);
}

.link:focus-visible {
  border: none;
}

.link:focus {
  outline: none;
}

.themeIcon {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.rightControls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.authenticatedControls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notificationIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.userProfile {
  position: relative;
}

.userName {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-body);
  color: var(--color-text);
  white-space: nowrap;
}

.avatarButton {
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--color-background);
  border: none;
  cursor: pointer;
}

.profileDropdown {
  position: absolute;
  right: 0;
  background: var(--color-card);
  border: 1px solid var(--color-toggle);
  border-radius: var(--border-radius-lg);
  z-index: 1;
  min-width: 260px;
  min-height: 152px;
  margin-top: 5px;
  padding: 20px 30px;
  gap: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdownItem {
  font-family: var(--font-family-roboto);
  display: flex;
  padding: 9px 7px;
  border-radius: var(--border-radius-lg);
  align-items: center;
  gap: 8px;
  text-align: left;
  border: none;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.1s ease-in;
  width: 100%;
}

.dropdownItem:hover {
  background-color: var(--color-dusabled);
}

.dropdownItem:active {
  background-color: var(--color-button-hover);
}
