.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 490px 84px;
  gap: 40px;
  background-color: var(--color-background);
}

.image {
  width: 460px;
  height: 304px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.errorText {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.title {
  font-family: var(--font-family-jost);
  font-size: var(--font-size-h2);
  line-height: 28px;
  letter-spacing: var(--letter-spacing-title);
  color: var(--color-text);
  font-weight: var(--font-weight-medium);
  text-align: center;
}

.description {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
  color: var(--color-text);
  font-weight: var(--font-weight-regular);
  text-align: center;
}

.buttons {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 24px;
}

.buttonItem {
  width: 100%;
}
